body {
    font-family: -apple-system, BlinkMacSystemFont, "Open Sans";
}

h1 {
    font-weight: 500;
}

.readme-toolbar {
    justify-content: flex-end;
    background-color: #1a1a1a;
}

.react-dat-gui {
    z-index: 1;
}

button.night-mode-control {
    padding: 0;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.chart-list {
    padding: 55px 0 0;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
