.followers-chart {
    display: flex;
    flex-direction: column;
}

.animate-t {
    transition: transform 0.25s ease;
}

.animate-o {
    transition: opacity 0.25s ease;
}

.animate-to {
    transition: transform 0.25s ease, opacity 0.125s ease;
}

.followers-chart {
    font-family: -apple-system, BlinkMacSystemFont, "Open Sans";
}
